.ym_paging{font:12px/1.5 Arial;min-width:600px;}
.ym_paging:before{content:"";display:table;}
.ym_paging:after, .items:after{content:"";display:table;line-height:0;height:0;visibility:hidden;clear:both;}
.items{list-style:none;float:left;margin:0;padding:0;}
.items .item{-webkit-user-select:none;width:35px;height:35px;line-height:35px;text-align:center;border:solid 1px #ededed;float:left;margin-left:-1px;cursor:pointer;font-weight:700;color:#3e3e3e;}
.items .item:hover{color:#f40;}
.items .dot{border:none;cursor:default;line-height:37px;}
.items .dot:hover{color:none;color:#3e3e3e;}
.items .prev{margin-right:5px;margin-left:0px;}
.items .next{margin-left:5px;margin-right:0px;}
.items .active, .items .active:hover{position:relative;background:#f40;color:#fff;border-color:#f40;cursor:default;}
.items .prev-disabled:hover{cursor:default;color:#3e3e3e;}
.items .next-disabled:hover{cursor:default;color:#3e3e3e;}
.ym_paging .total, .ym_paging .text{float:left;line-height:39px;margin-left:5px;}
.ym_paging .input{width:35px;height:21px;border:solid 1px #ededed;text-align:center;}
.ym_paging .btn{width:43px;height:23px;margin-left:5px;background:#f40;border-radius:2px;color:#fff;text-align:center;line-height:23px;cursor:pointer;}
.ym_paging .input, .ym_paging .btn{margin-top:7px;float:left;}
.ym_paging .form{float:left;}