<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<title>新闻资讯_优米金融</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/news/content_list.min.css">
</head>
<body>
	<div id="js-page-header">
		<div class="page-header-wrap">
			<div class="page-header page-contain">
				<dir class="page-header-left">
					<span class="page-header-icon icon-phone"></span>
					<span class="page-header-text">联系方式：400-960-8108</span>
					<div class="header-weixin-wrap">
						<span class="page-header-icon icon-weixin"></span>
						<div class="wechat-code-hover-wrap"><img src="/images/wechat_code_hover.png"></div>
					</div>
					<a class="page-header-icon icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1"></a>
				</dir>
				<div class="page-header-right">
					<ul class="nav">
						<li><a id="js-quick-login" href="javascript:void(0)">快速登陆</a></li>
						<li><a id="js-quick-register" href="javascript:void(0)">快速注册</a></li>
						<li><a href="about/help.html">常见问题</a></li>
						<li><a href="about/index.html">关于优米</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-nav-wrap">
			<div class="page-contain">
				<div class="page-nav-logo"><a href="index.html"></a></div>
				<div class="page-nav-box">
					<ul class="page-nav-main">
						<li><a class="nav-active" href="index.html">首页</a></li>
						<li><a href="pe.html">阳光私募</a></li>
						<li><a href="simu.html">私募股权</a></li>
						<li><a href="enterprise.html">企业理财</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="page-article-wrap">
		<div class="page-article-top">新闻资讯</div>
		<div class="page-article-main">
			<div class="page-article-box">
				<a class="article-cover" href=""><img src="" width="233" height="131"></a>
				<div class="article-content">
					<h3 class="article-title"><a href="">蓝海资本，中国脐带血公司私有化背后投资人浮出水面出水面出水面出水面</a></h3>
					<div class="artilce-source">
						<span>凤凰网</span>&nbsp;<time>2016-03-08</time>
					</div>
					<div class="article-desc">5月24日，广东外国语大学艺术家吴超、夏维伦，中科院自动化张玉瑾、司娟宁，陆军总医院附属八一脑科医院主任医师何江弘，中南民族大学郑伟，杭州电子科技大学杨勇等十名专家来到燕郊人民医院神经外科进行FNIRS“植物人视听唤醒”测试。</div>
				</div>
			</div>
			<div class="page-article-box">
				<a class="article-cover" href=""><img src="" width="233" height="131"></a>
				<div class="article-content">
					<h3 class="article-title">蓝海资本，中国脐带血公司私有化背后投资人浮出水面</h3>
					<div class="artilce-source">
						<span>凤凰网</span>&nbsp;<time>2016-03-08</time>
					</div>
					<div class="article-desc">停牌时间超半年的南京新百（600682，SH），在1月8日发布公告称，公司拟收购金卫
医疗BVI所持有的美股上市公司中国脐带血库企业集团》</div>
				</div>
			</div>
			<div class="page-article-box">
				<a class="article-cover" href=""><img src="" width="233" height="131"></a>
				<div class="article-content">
					<h3 class="article-title">蓝海资本，中国脐带血公司私有化背后投资人浮出水面</h3>
					<div class="artilce-source">
						<span>凤凰网</span>&nbsp;<time>2016-03-08</time>
					</div>
					<div class="article-desc">停牌时间超半年的南京新百（600682，SH），在1月8日发布公告称，公司拟收购金卫
医疗BVI所持有的美股上市公司中国脐带血库企业集团》</div>
				</div>
			</div>
		</div>
		<div class="paging-wrap">
			<div id="paging"></div>
		</div>
	</div>
	<div class="page-footer-wrap" ng-controller="footerCtr">
		<div class="page-contain f-position-retv">
			<ul class="page-footer">
				<li class="">
					<p class="footer-row">
						<span>About us</span>
						<span>关于我们</span>
					</p>
					<p class="footer-row">
						<span>Service</span>
						<span>产品服务</span>
					</p>
					<p class="footer-row">
						<span>Follow us</span>
						<span>关注我们</span>
					</p>
					<p class="footer-row">
						<span>Cooperation</span>
						<span>合作机构</span>
					</p>
					<p class="footer-last-row">客服热线：<span>400-960-8108</span></p>
				</li>
				<li class="f-position-retv">
					<div><a href="javascript:void(0)">公司介绍</a></div>
					<div><a href="javascript:void(0)">常见问题</a></div>
					<div class="footer-icon-weixin" id="js-show-code" ng-click="toggleCode()">微信</div>
					<div class="wechat-code-click-wrap" id="js-wechat-click-wrap" ng-show="isShow">
						<img src="/images/wechat_code_click.png">
						<span class="btn-wechat-close" id="js-wechat-close" ng-click="closeCode()"></span>
					</div>
					<div><a href="javascript:void(0)">蓝海资本</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">团队介绍</a></div>
					<div><a href="javascript:void(0)">安全保障</a></div>
					<div><a class="footer-icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1">新浪微博</a></div>
					<div><a href="">杨锋艺术与基金</a></div>
					<div><a href="">加入我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">发展历程</a></div>
					<div><a href="javascript:void(0)">免责声明</a></div>
					<div><p class="contact-time">周一至周五9:30--18:30</p></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">媒体报道</a></div>
				</li>
			</ul>
			<div class="wechat-code-wrap f-position-abs">
				<img class="img-code wechat-code-1" src="/images/wechat_code_1.png">
				<img class="img-code wechat-code-2" src="/images/wechat_code_2.png">
			</div>
			<p class="page-copyright">Copyright&copy;2015&nbsp;&nbsp;2016&nbsp;&nbsp;深圳市前海优米互联网金融服务有限公司 粤ICP备15078185号-3</p>
		</div>
	</div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/ym_layer.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/ym_paging.js"></script>
	<script type="text/javascript">
		new ym_paging("#paging", {
			total: 64,
			perPage:8,
			callback: function(pageNo, pageSize){
				//loadTemplate({pageNo:pageNo,pageSize:pageSize})
			}
		});
	</script>
</body>
</html>