<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="Keywords" content="优米金融,优米葫芦,优米理财,财富管理,金融理财机构">
	<meta name="Description" content="优米金融,是由资深金融与IT人士创立的互联网投融资平台,为机构以及中高端个人客户提供第三方财富管理服务。">
	<title>忘记密码</title>
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/auth/forget_password.min.css">
</head>
<body>
	<div class="page-header-wrap">
		<div class="page-header page-contain">
			<dir class="page-header-left">
				<span class="page-header-icon icon-phone"></span>
				<span class="page-header-text">联系方式：400-960-8108</span>
				<div class="header-weixin-wrap">
					<span class="page-header-icon icon-weixin"></span>
					<div class="wechat-code-hover-wrap"><img src="/images/wechat_code_hover.png"></div>
				</div>
				<a class="page-header-icon icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1"></a>
			</dir>
			<div class="page-header-right">
				<ul class="nav">
					<li><a href="auth/login.html">快速登陆</a></li>
					<li><a href="auth/register.html">快速注册</a></li>
					<li><a href="about/help.html">常见问题</a></li>
					<li><a href="about/index.html">关于优米</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="page-nav-wrap">
		<div class="page-contain">
			<div class="page-nav-logo"><a href="index.html"></a></div>
			<div class="page-nav-box">
				<ul class="page-nav-main">
					<li><a class="nav-active" href="index.html">首页</a></li>
					<li><a href="pe.html">阳光私募</a></li>
					<li><a href="simu.html">私募股权</a></li>
					<li><a href="enterprise.html">企业理财</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="page-forget-wrap">
		<div class="page-forget-main">
			<div class="f-display-n active">
				<div class="login-input-wrap">
					<span class="input-before">手机号码</span>
					<input type="text" name="">
					<span class="input-after">cell phone number</span>
				</div>
				<div class="login-form-item">
					<div class="login-input-wrap input-wrap-short f-fl">
						<span class="input-before">验证码</span>
						<input type="text" name="">
						<span class="input-after">verincation code</span>
					</div>
					<div class="img-code-wrap f-fl">
						<img class="verifycode-img f-fl" src="http://www.youmifinance.com/auth/verify_code.html" />
						<span class="img-code-text f-fl">看不清？<a href="javascript:void(0)">换一张</a></span>
					</div>
				</div>
				<div class="btn-submit-wrap">
					<button class="login-btn-submit f-level-center btn-submit-w180">
						<span class="btn-text-chinese">发送手机验证码</span>
						<span class="btn-text-english">Send verification code</span>
					</button>
				</div>
			</div>
			<div class="f-display-n">
				<div class="login-form-item">
					<div class="login-input-wrap input-wrap-short f-fl">
						<span class="input-before">短信验证码</span>
						<input type="text" name="">
						<span class="input-after">SMS verincation code</span>
					</div>
					<button class="form-item-btn f-fl"></button>
				</div>
				<div class="login-input-wrap">
					<span class="input-before">密码</span>
					<input type="password" name="">
					<span class="input-after">odl password</span>
				</div>
				<div class="login-input-wrap">
					<span class="input-before">确认密码</span>
					<input type="password" name="">
					<span class="input-after">confirm password</span>
				</div>
				<div class="btn-submit-wrap-h2">
					<button class="login-btn-submit f-level-center btn-submit-w180">
						<span class="btn-text-chinese">提交修改</span>
						<span class="btn-text-english">submit</span>
					</button>
				</div>
			</div>
			<div class="login-tips">找回密码过程中如有问题，请致电客服：400-960-8108 周一至周五9:30-18:30</div>
		</div>
	</div>
	

	<div class="page-footer-wrap" ng-controller="footerCtr">
		<div class="page-contain f-position-retv">
			<ul class="page-footer">
				<li class="">
					<div class="footer-row">
						<span>About us</span>
						<span>关于我们</span>
					</div>
					<div class="footer-row">
						<span>Service</span>
						<span>产品服务</span>
					</div>
					<div class="footer-row">
						<span>Follow us</span>
						<span>关注我们</span>
					</div>
					<div class="footer-row">
						<span>Cooperation</span>
						<span>合作机构</span>
					</div>
					<div class="footer-last-row">客服热线：<span>400-960-8108</span></div>
				</li>
				<li class="f-position-retv">
					<div><a href="javascript:void(0)">公司介绍</a></div>
					<div><a href="javascript:void(0)">常见问题</a></div>
					<div class="footer-icon-weixin" id="js-show-code" ng-click="toggleCode()">微信</div>
					<div class="wechat-code-click-wrap" id="js-wechat-click-wrap" ng-show="isShow">
						<img src="/images/wechat_code_click.png">
						<span class="btn-wechat-close" id="js-wechat-close" ng-click="closeCode()"></span>
					</div>
					<div><a href="javascript:void(0)">蓝海资本</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">团队介绍</a></div>
					<div><a href="javascript:void(0)">安全保障</a></div>
					<div><a class="footer-icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1">新浪微博</a></div>
					<div><a href="">杨锋艺术与基金</a></div>
					<div><a href="" class="a-join-us">加入我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">发展历程</a></div>
					<div><a href="javascript:void(0)" class="a-border-right-none">免责声明</a></div>
					<div><p class="contact-time">周一至周五9:30--18:30</p></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">媒体报道</a></div>
				</li>
			</ul>
			<div class="wechat-code-wrap f-position-abs">
				<img class="wechat-code-1" src="/images/wechat_code_1.png">
				<img src="/images/wechat_code_2.png">
			</div>
			<p class="page-copyright">Copyright&copy;2015&nbsp;&nbsp;2016&nbsp;&nbsp;深圳市前海优米互联网金融服务有限公司 粤ICP备15078185号-3</p>
		</div>
	</div>
	<style type="text/css">
		.ym-tip-wrap{
			position: absolute;
			z-index:9999;
		}
		.ym-tip-content{
			color:#fff;
			padding:10px 20px;
			background: #F08522;
			box-sizing: border-box;
		}

		.ym-tip-icon{
			width: 0;
		    height: 0;
		    border-top: 10px solid #F08522;
		    border-bottom: 20px solid transparent;
		    border-left: 20px solid transparent;
		    border-right: 30px solid transparent;
		    position: absolute;
		    left: 38px;
		}
	</style>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/base.js"></script>
	<script type="text/javascript">
		(function(window, document){

			
			$(".login-input-wrap input").on("focus", function(){
				$(this).prev().hide();
				$(this).next().hide();
			});
			
			$(".login-input-wrap input").on("blur", function(){
				var value = $(this).val();
				if(value.length == 0){
					$(this).prev().show();
					$(this).next().show();
				}
			});
			
			
			$("#submit_btn").on("click", function(){
				alert();
			});
			
			/*换一张图片验证码*/
			$("#nextImgCode").on("click", function(){
				var src =  $("#imgCodeUrl").attr("src");
				$("#imgCodeUrl").attr("src", src+"?"+Math.random());
			});

			$(".ym-tip-tag").on("mouseover", function(){
				var tipText = $(this).data("tipso"),
					top = $(this).get(0).offsetTop - 51,
					left = $(this).get(0).offsetLeft + 74,
					html = 	"<div class='ym-tip-wrap' style='left:"+left+"px;top:"+top+"px'>"+
							"	<div class='ym-tip-content'>"+tipText+"</div>"+
							"	<div class='ym-tip-icon'></div>"+
							"</div>";
				$("body").append(html);
			});

			$(".ym-tip-tag").on("mouseout", function(){
				$(".ym-tip-wrap").remove();
			});

			
		})(this, document);
	</script>
</body>
</html>