<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="Keywords" content="优米金融,优米葫芦,优米理财,财富管理,金融理财机构">
	<meta name="Description" content="优米金融,是由资深金融与IT人士创立的互联网投融资平台,为机构以及中高端个人客户提供第三方财富管理服务。">
	<title>优米金融－中国领先的第三方财富管理平台</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/index.min.css">
</head>
<body>
	
	<div class="page-banner-wrap">
		<ul class="page-banner-ul" id="banner">
			<li class="active"><a href="product/simu/7.html"><img src="/images/home_banner_3.jpg"></a></li>
			<li><a href="product/simu/5.html"><img src="/images/home_banner_1.jpg"></a></li>
			<li><a href="enterprise.html"><img src="/images/home_banner_2.jpg"></a></li>
		</ul>
		<div class="page-banner-nav">
			<span class=""></span>
			<span class="active"></span>
			<span class=""></span>
		</div>
	</div>
	<div class="page-feature">
		<div class="feature-item"><img src="/images/icon-1.png"></div>
		<div class="feature-item"><img src="/images/icon-2.png"></div>
		<div class="feature-item"><img src="/images/icon-3.png"></div>
	</div>
	<div class="index-product-wrap">
		<div class="icon-wlty"></div>
		<div class="index-product-top">
			<h2><a class="index-product-title" href="">PE投资之中概股回归（A级）</a></h2>
			<p class="index-product-desc">参与龙头并购基金，分享影视行业利润</p>
		</div>
		<div class="index-product-main">
			<ul class="product-main-left">
				<li>
					<div class="index-img-wrap"><img src="/images/icon-4.png"></div>
					<p class="index-product-key">目标规模</p>
					<p class="index-product-value">1000万</p>
				</li>
				<li>
					<div class="index-img-wrap"><img src="/images/icon-5.png"></div>
					<p class="index-product-key">锁定期</p>
					<p class="index-product-value">6个月</p>
				</li>
				<li>
					<div class="index-img-wrap"><img src="/images/icon-6.png"></div>
					<p class="index-product-key">起投金额</p>
					<p class="index-product-value">100万</p>
				</li>
			</ul>
			<div class="product-main-right">
				<a class="btn-normal-disabled" href="">立 即 预 约</a>
				<p class="btn-wrap-more">
					<a class="btn-visit-more" href="javascript:void(0)">查 看 更 多</a>
				</p>
			</div>
		</div>
	</div>
	<div class="index-dynamic-wrap">
		<div class="index-dynamic-top">优米动态</div>
		<ul class="index-dynamic-hot">
			<li>
				<a href="javascript:void(0)" class="dynamic-img-cover" style="background:url(http://www.bocggp.com/content/i/team1.png) no-repeat center;background-size:contain;"></a>
				<div class="dynamic-hot-main">
					<h2><a class="dynamic-hot-title" href="">优米金融CEO杨锋资助朱</a></h2>
					<p class="dynamic-hot-desc dot-ellipsis">8月10日，优米金融CEO杨峰先生出究大会。他向记者介绍会顶顶顶地对地导弹</p>
					<p class="hot-endnotes"><span>凤凰网&nbsp;</span><time>2016年-8-10日 20:33:52</time></p>
				</div>
			</li>
			<li>
				<a href="javascript:void(0)" class="dynamic-img-cover" style="background:url(http://www.bocggp.com/content/i/team1.png) no-repeat center;background-size:contain;"></a>
				<div class="dynamic-hot-main">
					<h2><a class="dynamic-hot-title" href="">优米金融CEO杨锋资助朱</a></h2>
					<p class="dynamic-hot-desc dot-ellipsis">8月10日，优米金融CEO杨峰先生出究大会。他向记者介绍会顶顶顶地对地导弹</p>
					<p class="hot-endnotes"><span>凤凰网&nbsp;</span><time>2016年-8-10日 20:33:52</time></p>
				</div>
			</li>
		</ul>
		<div class="f-position-retv">
			<ul class="index-news-wrap">
				<li>
					<a href="javascript:void(0)" class="index-news-logo" style="background-image:url(http://img.youmifinance.com/img/images/news/1465786572158/logo/1465787618124.png);"></a>
					<div class="index-news-main">
						<div class="news-title-wrap"><a class="index-news-title" href="">优米金融发布2016年企业理财战略布局不</a></div>
						<p class="index-news-desc">优米金融1月23日新迁办公场地，同时发布了了</p>
					</div>
				</li>
				<li>
					<a class="index-news-logo" style="background-image:url(http://img.youmifinance.com/img/images/news/1465786347183/logo/1465787551392.png);"></a>
					<div class="index-news-main">
						<div class="news-title-wrap"><a class="index-news-title" href="">优米金融发布2016年企业理财战略布局不</a></div>
						<p class="index-news-desc">优米金融1月23日新迁办公场地，同时发布了了</p>
					</div>
				</li>
				<li>
					<div class="index-news-logo"></div>
					<div class="index-news-main">
						<div class="news-title-wrap"><a class="index-news-title" href="">优米金融发布2016年企业理财战略布局不</a></div>
						<p class="index-news-desc">优米金融1月23日新迁办公场地，同时发布了了</p>
					</div>
				</li>
				<li>
					<div class="index-news-logo"></div>
					<div class="index-news-main">
						<div class="news-title-wrap"><a class="index-news-title" href="">优米金融发布2016年企业理财战略布局不</a></div>
						<p class="index-news-desc">优米金融1月23日新迁办公场地，同时发布了了</p>
					</div>
				</li>
				<li>
					<div class="index-news-logo"></div>
					<div class="index-news-main">
						<div class="news-title-wrap"><a class="index-news-title" href="">优米金融发布2016年企业理财战略布局不</a></div>
						<p class="index-news-desc">优米金融1月23日新迁办公场地，同时发布了了</p>
					</div>
				</li>
				<li>
					<div class="index-news-logo"></div>
					<div class="index-news-main">
						<div class="news-title-wrap"><a class="index-news-title" href="">优米金融发布2016年企业理财战略布局不</a></div>
						<p class="index-news-desc">优米金融1月23日新迁办公场地，同时发布了了</p>
					</div>
				</li>
			</ul>
			<a class="f-position-abs btn-visit-more btn-news-more" href="">更多</a>
		</div>
	</div>
	<div class="page-footer-wrap" ng-controller="footerCtr">
		<div class="page-contain f-position-retv">
			<ul class="page-footer">
				<li class="">
					<div class="footer-row">
						<span>About us</span>
						<span>关于我们</span>
					</div>
					<div class="footer-row">
						<span>Service</span>
						<span>产品服务</span>
					</div>
					<div class="footer-row">
						<span>Follow us</span>
						<span>关注我们</span>
					</div>
					<div class="footer-row">
						<span>Cooperation</span>
						<span>合作机构</span>
					</div>
					<div class="footer-last-row">客服热线：<span>400-960-8108</span></div>
				</li>
				<li class="f-position-retv">
					<div><a href="javascript:void(0)">公司介绍</a></div>
					<div><a href="javascript:void(0)">常见问题</a></div>
					<div class="footer-icon-weixin" id="js-show-code" ng-click="toggleCode()">微信</div>
					<div class="wechat-code-click-wrap" id="js-wechat-click-wrap" ng-show="isShow">
						<img src="/images/wechat_code_click.png">
						<span class="btn-wechat-close" id="js-wechat-close" ng-click="closeCode()"></span>
					</div>
					<div><a href="javascript:void(0)">蓝海资本</a></div>
					<div><a href="" class="a-join-us">联系我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">团队介绍</a></div>
					<div><a href="javascript:void(0)">安全保障</a></div>
					<div class="footer-icon-sina"><a href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1">新浪微博</a></div>
					<div><a href="">杨锋艺术与基金</a></div>
					<div><a href="" class="a-join-us">加入我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">发展历程</a></div>
					<div><a href="javascript:void(0)" class="a-border-right-none">免责声明</a></div>
					<div><p class="contact-time">周一至周五9:30--18:30</p></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">媒体报道</a></div>
				</li>
			</ul>
			<div class="wechat-code-wrap f-position-abs">
				<img class="wechat-code-1" src="/images/wechat_code_1.png">
				<img src="/images/wechat_code_2.png">
			</div>
			<p class="page-copyright">Copyright&copy;2015&nbsp;&nbsp;2016&nbsp;&nbsp;深圳市前海优米互联网金融服务有限公司 粤ICP备15078185号-3</p>
		</div>
	</div>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/base.js"></script>
	<script type="text/javascript">
		
		var s = $(".dot-ellipsis").text(),
			str = [];
		for(var i = 0; i < s.length; i++){
			str.push(s[i]);
			if(i > 26){
				str = str.join("");
				$(".dot-ellipsis").text(str.toString()+"...");
				break;
			}
		}
	</script>
</body>
</html>