<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="Keywords" content="阳光私募,阳光私募基金,阳光私募投资,私募超市">
	<meta name="Description" content="私募股权频道帮助您选择最优秀的股权投资基金,并提供全方位的股权投资理财服务">
	<title>公司介绍</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/company_introduct.min.css">
</head>
<body>
	<div id="js-page-header">
		<div class="page-header-wrap">
			<div class="page-header page-contain">
				<dir class="page-header-left">
					<span class="page-header-icon icon-phone"></span>
					<span class="page-header-text">联系方式：400-960-8108</span>
					<div class="header-weixin-wrap">
						<span class="page-header-icon icon-weixin"></span>
						<div class="wechat-code-hover-wrap"><img src="/images/wechat_code_hover.png"></div>
					</div>
					<a class="page-header-icon icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1"></a>
				</dir>
				<div class="page-header-right">
					<ul class="nav">
						<li><a id="js-quick-login" href="javascript:void(0)">快速登陆</a></li>
						<li><a id="js-quick-register" href="javascript:void(0)">快速注册</a></li>
						<li><a href="about/help.html">常见问题</a></li>
						<li><a href="about/index.html">关于优米</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-nav-wrap">
			<div class="page-contain">
				<div class="page-nav-logo"><a href="index.html"></a></div>
				<div class="page-nav-box">
					<ul class="page-nav-main">
						<li><a class="nav-active" href="index.html">首页</a></li>
						<li><a href="pe.html">阳光私募</a></li>
						<li><a href="simu.html">私募股权</a></li>
						<li><a href="enterprise.html">企业理财</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="page-about-nav-wrap">
		<ul class="page-about-nav">
			<li>
				<a href="" class="active">
					<span class="nav-text-chinese">公司简介</span>
					<span class="nav-text-english">Company Introduction</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">团队介绍</span>
					<span class="nav-text-english">Our Team</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">发展历程</span>
					<span class="nav-text-english">development</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">联系我们</span>
					<span class="nav-text-english">contact us</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">安全保障</span>
					<span class="nav-text-english">Security</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">免责声明</span>
					<span class="nav-text-english">Disclaimer</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">常见问题</span>
					<span class="nav-text-english">FAQ</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="page-about-box">
		<div class="page-about-box-item">
			<h2 class="about-box-title">公司背景</h2>
			<p>优米金融成立于2015年6月，是知名投资机构蓝海资本和创始团队共同创办的独立第三方财富管理机构，核心团队成员主要来自建银国际、汤森路透、中国银行和晨星资讯等知
名企业，在投资、金融科技和金融信息服务等领域分别有超过十年的经验。</p>
			<p>优米金融充分依托团队在金融投资领域的丰富经验和网络资源，为企业和中高净值个人客户提供专业、个性化的金融咨询服务和理财建议，帮助客户优化资产配置；以“呵护客
户财富”为宗旨，建立严格、科学和流程化的产品筛选机制，并结合定性和定量分析，构建了独具特色的产品筛选和评估模型，从市场中甄选合规、优质、低风险的金融产品，
服务的金融理财产品主要包括：阳光私募证券投资基金，券商资管计划、信托计划和私募股权投资基金等，目前交易额已达数亿元。</p>
			<p>优米金融的机构股东——蓝海资本（Blue Ocean Capital Group）是一家知名私募股权投资机构，目前管理等值4亿美金的人民币和美元双币种基金，专注于医疗健康、文化传
媒和金融服务等领域的投资，并和优米金融形成紧密战略合作关系；2016年，蓝海资本荣获著名机构”投中信息”评选的多项荣誉包括“投中2015年度中国新锐私募股权投资
机构Top10”和“投中2015年度中国最佳私募股权投资案例Top10”，创始人兼CEO杨锋荣获“投中2015年度中国最佳私募股权投资新锐投资家Top10”荣誉。</p>
			<p></p>
		</div>
		<div class="page-about-box-item">
			<h2 class="about-box-title">公司特色</h2>
			<p>优米金融依托自身在金融投资领域的知识专长，经过大量研究和机构调研，对全市场的金融产品进行精选 ，为客户量身定制财富管理方案，满足客户多样化、个性化的投资理财
需求。</p>
			<p>优米金融不提供任何P2P网贷等非标理财产品，而是通过对接专业的投资理财机构，诸如证券公司、阳光私募基金公司、基金子公司、资产管理公司等金融机构，为客户甄选适
合其风险偏好的标准化投资理财产品。此类理财产品均通过银行、券商等机构托管，资金和投资去向受到严格的监控，风控体系非常成熟。</p>
			<p>优米金融团队精通金融产品设计，通过与投资理财机构的深层次合作，参与定制金融产品的设计方案，从而能够为客户寻找到风险收益比最好的投资组合。</p>
		</div>
		<div class="page-about-box-item">
			<h2 class="about-box-title">公司产品</h2>
			<p>针对企业客户的对理财资金不同流动性与安全性的需求，优米金融推出两款企业理财计划：</p>
			<p>
				<ul>
					<li>• 企业现金管理计划</li>
					<li>• 企业专项资产管理计划</li>
				</ul>
			</p>
			<p>针对中高净值投资客户，优米金融提供更多元化的投资理财产品，以满足客户组合投资的需求：</p>
			<p>
				<ul>
					<li>• 结构化私募股权投资</li>
					<li>• 多策略对冲基金</li>
					<li>• 债券型统计套利基金</li>
					<li>• 股票型统计套利基金</li>
					<li>• 指数增强型基金</li>
					<li>• 券商资管计划</li>
				</ul>
			</p>
		</div>
	</div>



	<div class="page-footer-wrap" ng-controller="footerCtr">
		<div class="page-contain f-position-retv">
			<ul class="page-footer">
				<li class="">
					<p class="footer-row">
						<span>About us</span>
						<span>关于我们</span>
					</p>
					<p class="footer-row">
						<span>Service</span>
						<span>产品服务</span>
					</p>
					<p class="footer-row">
						<span>Follow us</span>
						<span>关注我们</span>
					</p>
					<p class="footer-row">
						<span>Cooperation</span>
						<span>合作机构</span>
					</p>
					<p class="footer-last-row">客服热线：<span>400-960-8108</span></p>
				</li>
				<li class="f-position-retv">
					<div><a href="javascript:void(0)">公司介绍</a></div>
					<div><a href="javascript:void(0)">常见问题</a></div>
					<div class="footer-icon-weixin" id="js-show-code" ng-click="toggleCode()">微信</div>
					<div class="wechat-code-click-wrap" id="js-wechat-click-wrap" ng-show="isShow">
						<img src="/images/wechat_code_click.png">
						<span class="btn-wechat-close" id="js-wechat-close" ng-click="closeCode()"></span>
					</div>
					<div><a href="javascript:void(0)">蓝海资本</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">团队介绍</a></div>
					<div><a href="javascript:void(0)">安全保障</a></div>
					<div><a class="footer-icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1">新浪微博</a></div>
					<div><a href="">杨锋艺术与基金</a></div>
					<div><a href="">加入我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">发展历程</a></div>
					<div><a href="javascript:void(0)">免责声明</a></div>
					<div><p class="contact-time">周一至周五9:30--18:30</p></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">媒体报道</a></div>
				</li>
			</ul>
			<div class="wechat-code-wrap f-position-abs">
				<img class="img-code wechat-code-1" src="/images/wechat_code_1.png">
				<img class="img-code wechat-code-2" src="/images/wechat_code_2.png">
			</div>
			<p class="page-copyright">Copyright&copy;2015&nbsp;&nbsp;2016&nbsp;&nbsp;深圳市前海优米互联网金融服务有限公司 粤ICP备15078185号-3</p>
		</div>
	</div>
</body>
</html>