<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="Keywords" content="阳光私募,阳光私募基金,阳光私募投资,私募超市">
	<meta name="Description" content="私募股权频道帮助您选择最优秀的股权投资基金,并提供全方位的股权投资理财服务">
	<title>公司介绍</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/development_course.min.css">
</head>
<body>
	<div id="js-page-header">
		<div class="page-header-wrap">
			<div class="page-header page-contain">
				<dir class="page-header-left">
					<span class="page-header-icon icon-phone"></span>
					<span class="page-header-text">联系方式：400-960-8108</span>
					<div class="header-weixin-wrap">
						<span class="page-header-icon icon-weixin"></span>
						<div class="wechat-code-hover-wrap"><img src="/images/wechat_code_hover.png"></div>
					</div>
					<a class="page-header-icon icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1"></a>
				</dir>
				<div class="page-header-right">
					<ul class="nav">
						<li><a id="js-quick-login" href="javascript:void(0)">快速登陆</a></li>
						<li><a id="js-quick-register" href="javascript:void(0)">快速注册</a></li>
						<li><a href="about/help.html">常见问题</a></li>
						<li><a href="about/index.html">关于优米</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-nav-wrap">
			<div class="page-contain">
				<div class="page-nav-logo"><a href="index.html"></a></div>
				<div class="page-nav-box">
					<ul class="page-nav-main">
						<li><a class="nav-active" href="index.html">首页</a></li>
						<li><a href="pe.html">阳光私募</a></li>
						<li><a href="simu.html">私募股权</a></li>
						<li><a href="enterprise.html">企业理财</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="page-about-nav-wrap">
		<ul class="page-about-nav">
			<li>
				<a href="">
					<span class="nav-text-chinese">公司简介</span>
					<span class="nav-text-english">Company Introduction</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">团队介绍</span>
					<span class="nav-text-english">Our Team</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">发展历程</span>
					<span class="nav-text-english">development</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">联系我们</span>
					<span class="nav-text-english">contact us</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">安全保障</span>
					<span class="nav-text-english">Security</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">免责声明</span>
					<span class="nav-text-english">Disclaimer</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">常见问题</span>
					<span class="nav-text-english">FAQ</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="page-about-box">
		<div class="page-about-box-item">
			<div class="box-item f-fl">
				<div class="content-box" style="margin-top: 76px;">
					<span>优米葫芦个人理财平台上线试运营</span>
					<div class="date-time">
						<div class="date-time-max">25</div>
						<div class="date-time-min">2015<br>Sept</div>
					</div>
				</div>
				<div class="content-box">
					<span>优米金融第一款结构化产品上线</span>
					<div class="date-time">
						<div class="date-time-max">01</div>
						<div class="date-time-min">2015<br>Dec</div>
					</div>
				</div>
			</div>
			<div class="box-item box-item-right f-fl">
				<div class="content-box" style="margin-top:6px;">
					<span>公司成立</span>
					<div class="date-time">
						<div class="date-time-max">05</div>
						<div class="date-time-min">2015<br>June</div>
					</div>
				</div>
				<div class="content-box">
					<span>美股私有化理财项目上线</span>
					<div class="date-time">
						<div class="date-time-max">11</div>
						<div class="date-time-min">2015<br>Nov</div>
					</div>
				</div>
				<div class="content-box">
					<span>新迁办公室，艺术展及新战略发布</span>
					<div class="date-time">
						<div class="date-time-max">23</div>
						<div class="date-time-min">2016<br>Jan</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="page-footer-wrap" ng-controller="footerCtr">
		<div class="page-contain f-position-retv">
			<ul class="page-footer">
				<li class="">
					<p class="footer-row">
						<span>About us</span>
						<span>关于我们</span>
					</p>
					<p class="footer-row">
						<span>Service</span>
						<span>产品服务</span>
					</p>
					<p class="footer-row">
						<span>Follow us</span>
						<span>关注我们</span>
					</p>
					<p class="footer-row">
						<span>Cooperation</span>
						<span>合作机构</span>
					</p>
					<p class="footer-last-row">客服热线：<span>400-960-8108</span></p>
				</li>
				<li class="f-position-retv">
					<div><a href="javascript:void(0)">公司介绍</a></div>
					<div><a href="javascript:void(0)">常见问题</a></div>
					<div class="footer-icon-weixin" id="js-show-code" ng-click="toggleCode()">微信</div>
					<div class="wechat-code-click-wrap" id="js-wechat-click-wrap" ng-show="isShow">
						<img src="/images/wechat_code_click.png">
						<span class="btn-wechat-close" id="js-wechat-close" ng-click="closeCode()"></span>
					</div>
					<div><a href="javascript:void(0)">蓝海资本</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">团队介绍</a></div>
					<div><a href="javascript:void(0)">安全保障</a></div>
					<div><a class="footer-icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1">新浪微博</a></div>
					<div><a href="">杨锋艺术与基金</a></div>
					<div><a href="">加入我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">发展历程</a></div>
					<div><a href="javascript:void(0)">免责声明</a></div>
					<div><p class="contact-time">周一至周五9:30--18:30</p></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">媒体报道</a></div>
				</li>
			</ul>
			<div class="wechat-code-wrap f-position-abs">
				<img class="img-code wechat-code-1" src="/images/wechat_code_1.png">
				<img class="img-code wechat-code-2" src="/images/wechat_code_2.png">
			</div>
			<p class="page-copyright">Copyright&copy;2015&nbsp;&nbsp;2016&nbsp;&nbsp;深圳市前海优米互联网金融服务有限公司 粤ICP备15078185号-3</p>
		</div>
	</div>
</body>
</html>