<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<title>私募股权产品列表_优米金融</title>
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/pe_list.min.css">
</head>
<body>
	<div id="js-page-header">
		<div class="page-header-wrap">
			<div class="page-header page-contain">
				<dir class="page-header-left">
					<span class="page-header-icon icon-phone"></span>
					<span class="page-header-text">联系方式：400-960-8108</span>
					<div class="header-weixin-wrap">
						<span class="page-header-icon icon-weixin"></span>
						<div class="wechat-code-hover-wrap"><img src="/images/wechat_code_hover.png"></div>
					</div>
					<a class="page-header-icon icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1"></a>
				</dir>
				<div class="page-header-right">
					<ul class="nav">
						<li><a id="js-quick-login" href="javascript:void(0)">快速登陆</a></li>
						<li><a id="js-quick-register" href="javascript:void(0)">快速注册</a></li>
						<li><a href="about/help.html">常见问题</a></li>
						<li><a href="about/index.html">关于优米</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-nav-wrap">
			<div class="page-contain">
				<div class="page-nav-logo"><a href="index.html"></a></div>
				<div class="page-nav-box">
					<ul class="page-nav-main">
						<li><a class="nav-active" href="index.html">首页</a></li>
						<li><a href="pe.html">阳光私募</a></li>
						<li><a href="simu.html">私募股权</a></li>
						<li><a href="enterprise.html">企业理财</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	

	<!--面包屑导航-->
	<div class="page-breadcrumb-wrap">
		<p class="page-breadcrumb-main">
			<span>当前位置：</span>
			<a href="index.html">首页</a>
			<a href="simu.html">阳光私募</a>
			<a href="product/simu/list.html">阳光私募产品</a>
			<span>顺时国际-天利长盈FOF2期</span>
		</p>
	</div>
	<!--面包屑导航-->

	<div class="product-list-wrap">
		<div class="product-list-top">
			<span>产品</span>
			<span>最新净值</span>
			<span>累计净值</span>
			<span>基金公司</span>
			<span>基金人</span>
		</div>

		<div class="product-list">
			<div class="product-list-item product-item-wlty">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<a class="product-item-btn-disabled">预约咨询</a>
			</div>
			<div class="product-list-item">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<a class="product-item-btn">预约咨询</a>
			</div>		
			<div class="product-list-item">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<a class="product-item-btn">预约咨询</a>
			</div>
			<div class="product-list-item">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<a class="product-item-btn">预约咨询</a>
			</div>
			<div class="product-list-item">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<a class="product-item-btn">预约咨询</a>
			</div>
			<div class="product-list-item">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<button class="product-item-btn">预约咨询</button>
			</div>
			<div class="product-list-item">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<a class="product-item-btn">预约咨询</a>
			</div>	
			<div class="product-list-item">
				<div class="product-title-wrap">
					<a class="product-title" href="">瞬时国际-天利长赢FOF2期</a>
				</div>
				<ul class="product-desc-wrap">
					<li class="desc-num">1.1430</li>
					<li class="desc-num">1.1430</li>
					<li class="desc-text">顺时国际</li>
					<li class="desc-text">赖忠良/杨晓</li>
				</ul>
				<p class="product-highlights">产品亮点：业内顶尖机构（银河证券、顺时国际）牵头,子基金历史业绩优异,基金费率极致优惠银河证券、顺时国际</p>
				<a class="product-item-btn">预约咨询</a>
			</div>			
		</div>

		<div class="paging-wrap">
			<div id="paging"></div>
		</div>
	</div>
	<div class="page-overlay"></div>
	<script type="text/x-template" id="js-login-template">
		<div class="page-login-wrap" id="js-login-wrap">
			<div class="page-login-top"><span class="login-btn-close" id="js-login-close"></span></div>
			<div class="page-login-main">
				<div class="login-box-left f-fl">
					<div class="login-box-item" id="js-login-form">
						<div class="login-box-top">登录<br><em>log in</em></div>
						<div class="login-form-box">
							<div class="login-input-wrap">
								<span class="input-before">手机号码</span>
								<input type="text" name="">
								<span class="input-after">cell phone number</span>
							</div>
							<div class="login-input-wrap">
								<span class="input-before">密码</span>
								<input type="password" name="">
								<span class="input-after">password</span>
							</div>
							<div class="form-desc">
								<a href="auth/forget_password.html">	
									<span>忘记密码</span>
									<span>Forgotten password</span>
								</a>
							</div>
						</div>
						<button class="login-btn-submit f-fl">
							<span class="btn-text-chinese">登 录</span>
							<span class="btn-text-english">log in</span>
						</button>
					</div>
					<div class="login-box-item" id="js-register-form">
						<div class="login-box-top">注册<br><em>register</em></div>
						<div class="login-form-box">
							<div class="login-input-wrap">
								<span class="input-before">手机号码</span>
								<input type="text" name="">
								<span class="input-after">cell phone number</span>
							</div>
							<div class="login-input-wrap">
								<span class="input-before">密码</span>
								<input type="password" name="">
								<span class="input-after">password</span>
							</div>
							<div class="login-form-item">
								<div class="login-input-wrap input-wrap-short f-fl">
									<span class="input-before">验证码</span>
									<input type="text" name="">
									<span class="input-after">verincation code</span>
								</div>
								<div class="img-code-wrap f-fl">
									<img class="verifycode-img f-fl" src="auth/verify_code.html" />
									<span class="img-code-text f-fl">看不清？<a href="javascript:void(0)">换一张</a></span>
								</div>
							</div>
							<div class="login-form-item">
								<div class="login-input-wrap input-wrap-short f-fl">
									<span class="input-before">短信验证码</span>
									<input type="text" name="">
									<span class="input-after">SMS verincation code</span>
								</div>
								<button class="form-item-btn f-fl">获 取 动 态 码</button>
							</div>
						</div>
						<button class="login-btn-submit f-fl">
							<span class="btn-text-chinese">注 册</span>
							<span class="btn-text-english">register</span>
						</button>
					</div>
				</div>
				<div class="login-box-right f-fl">
					<img class="login-icon-wechat" src="/images/wechat_code_auth.png" />
					<p>已注册用户可扫二维码登入</p>
					<p class="form-tips">如 果 您 还 未 拥 有 优 米 账 户，可 在 此 注 册</p>
					<button class="login-box-right-btn f-fl" id="js-register-right-btn">
						<span class="btn-text-chinese">注 册</span>
						<span class="btn-text-english">regsiter</span>
					</button>
				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="js-register-template">
		<div class="page-login-wrap" id="js-register-wrap">
			<div class="page-login-top"><span class="login-btn-close" id="js-login-close"></span></div>
			<div class="page-login-main">
				<div class="login-box-left f-fl">
					<div class="login-box-item" id="js-login-form">
						<div class="login-box-top">登录<br><em>log in</em></div>
						<div class="login-form-box">
							<div class="login-input-wrap">
								<span class="input-before">手机号码</span>
								<input type="text" name="">
								<span class="input-after">cell phone number</span>
							</div>
							<div class="login-input-wrap">
								<span class="input-before">密码</span>
								<input type="password" name="">
								<span class="input-after">password</span>
							</div>
							<div class="form-desc">
								<a href="auth/forget_password.html">	
									<span>忘记密码</span>
									<span>Forgotten password</span>
								</a>
							</div>
						</div>
						<button class="login-btn-submit f-fl">
							<span class="btn-text-chinese">登 录</span>
							<span class="btn-text-english">log in</span>
						</button>
					</div>
					<div class="login-box-item" id="js-register-form">
						<div class="login-box-top">注册<br><em>register</em></div>
						<div class="login-form-box">
							<div class="login-input-wrap">
								<span class="input-before">手机号码</span>
								<input type="text" name="">
								<span class="input-after">cell phone number</span>
							</div>
							<div class="login-input-wrap">
								<span class="input-before">密码</span>
								<input type="password" name="">
								<span class="input-after">password</span>
							</div>
							<div class="login-form-item">
								<div class="login-input-wrap input-wrap-short f-fl">
									<span class="input-before">验证码</span>
									<input type="text" name="">
									<span class="input-after">verincation code</span>
								</div>
								<div class="img-code-wrap f-fl">
									<img class="verifycode-img f-fl" src="auth/verify_code.html" />
									<span class="img-code-text f-fl">看不清？<a href="javascript:void(0)">换一张</a></span>
								</div>
							</div>
							<div class="login-form-item">
								<div class="login-input-wrap input-wrap-short f-fl">
									<span class="input-before">短信验证码</span>
									<input type="text" name="">
									<span class="input-after">SMS verincation code</span>
								</div>
								<button class="form-item-btn f-fl">获 取 动 态 码</button>
							</div>
						</div>
						<button class="login-btn-submit f-fl">
							<span class="btn-text-chinese">注 册</span>
							<span class="btn-text-english">register</span>
						</button>
					</div>
				</div>
				<div class="login-box-right f-fl">
					<img class="login-icon-wechat" src="/images/wechat_code_auth.png" />
					<p>已注册用户可扫二维码登入</p>
					<p class="form-tips">如 果 您 已 拥 有 优 米 账 户，可 在 此 登 录</p>
					<button class="login-box-right-btn f-fl" id="js-login-right-btn">
						<span class="btn-text-chinese">登 录</span>
						<span class="btn-text-english">log in</span>
					</button>
				</div>
			</div>
		</div>
	</script>
	
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/ym_layer.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/ym_paging.js"></script>
	<script type="text/javascript">
		new ym_paging("#paging", {
			total: 64,
			perPage:8,
			callback: function(pageNo, pageSize){
				//loadTemplate({pageNo:pageNo,pageSize:pageSize})
			}
		});
		
		var loginTemplate = $("#js-login-template").html();
			registerTemplate = $("#js-register-template").html();
		
		$("#js-quick-login").click(function(){
			appendLogin();
			$("#js-page-header").addClass("f-position-fixed page-header-wrap-fixed");
			$(".page-overlay").show();
			$("#js-login-form").addClass("active").siblings().removeClass("active");
			$("#js-login-right-btn").find(".btn-text-chinese").text("注 册");
			$("#js-login-right-btn").find(".btn-text-english").text("register");
			$("#js-login-right-btn").data("type", "1");
			$("body").delegate("#js-login-close", "click", function(){
				$("#js-page-header").removeClass();
				$(".page-overlay").hide()
				$("#js-login-wrap").remove();
			});
			
			$("body").delegate(".login-input-wrap input", "focus", function(){
				$(this).prev().hide();
				$(this).next().hide();
			});

			$("body").delegate(".login-input-wrap input", "blur", function(){
				var value = $(this).val();
				if(value.length == 0){
					$(this).prev().show();
					$(this).next().show();
				}
			});
		});

		$("body").delegate("#js-register-right-btn", "click", function(){
			$("#js-register-form").addClass("active").siblings().removeClass("active");
			$(this).find(".btn-text-chinese").text("登 录");
			$(this).find(".btn-text-english").text("log in");
			$(this).attr("id", "js-login-right-btn");
			$(this).prev().text("如 果 您 已 拥 有 优 米 账 户，可 在 此 登 录");
		});

		$("body").delegate("#js-login-right-btn", "click", function(){
			$("#js-login-form").addClass("active").siblings().removeClass("active");
			$(this).find(".btn-text-chinese").text("注 册");
			$(this).find(".btn-text-english").text("register");
			$(this).attr("id", "js-register-right-btn");
			$(this).prev().text("如 果 您 还 未 拥 有 优 米 账 户，可 在 此 注 册");
		});

		function appendLogin(){
			if($("#js-login-wrap").length <= 0){
				$("#js-register-wrap").remove();
				$("body").append(loginTemplate);
			}
		}

		function appendRegister(){
			if($("#js-register-wrap").length <= 0){
				$("#js-login-wrap").remove();
				$("body").append(registerTemplate);
			}
		}
		
		$("#js-quick-register").click(function(){
			appendRegister();
			$("#js-page-header").addClass("f-position-fixed page-header-wrap-fixed");
			$(".page-overlay").show();
			$("#js-register-form").addClass("active").siblings().removeClass("active");
			$("#js-login-right-btn").find(".btn-text-chinese").text("登 录");
			$("#js-login-right-btn").find(".btn-text-english").text("log in");
			$("#js-login-right-btn").data("type", "1");
			$("body").delegate("#js-login-close", "click", function(){
				$("#js-page-header").removeClass();
				$(".page-overlay").hide()
				$("#js-login-wrap").remove();
			});
			
			$("body").delegate(".login-input-wrap input", "focus", function(){
				$(this).prev().hide();
				$(this).next().hide();
			});

			$("body").delegate(".login-input-wrap input", "blur", function(){
				var value = $(this).val();
				if(value.length == 0){
					$(this).prev().show();
					$(this).next().show();
				}
			});

			$("body").delegate("#js-login-right-btn", "click", function(){
				var type = $(this).data("type");
				if(type == "1"){
					$("#js-login-right-btn").find(".btn-text-chinese").text("注 册");
					$("#js-login-right-btn").find(".btn-text-english").text("register");
					$("#js-login-form").addClass("active").siblings().removeClass("active");
				}else{
					$("#js-login-right-btn").find(".btn-text-chinese").text("登 录");
					$("#js-login-right-btn").find(".btn-text-english").text("log in");
					$("#js-register-form").addClass("active").siblings().removeClass("active");
				}
			});
		});
		
	</script>
</body>
</html>