<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="Keywords" content="阳光私募,阳光私募基金,阳光私募投资,私募超市">
	<meta name="Description" content="私募股权频道帮助您选择最优秀的股权投资基金,并提供全方位的股权投资理财服务">
	<title>阳光私募_阳光私募基金_优米金融</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/simu_product_detail.min.css">
</head>
<body>
	<div id="js-page-header">
		<div class="page-header-wrap">
			<div class="page-header page-contain">
				<dir class="page-header-left">
					<span class="page-header-icon icon-phone"></span>
					<span class="page-header-text">联系方式：400-960-8108</span>
					<div class="header-weixin-wrap">
						<span class="page-header-icon icon-weixin"></span>
						<div class="wechat-code-hover-wrap"><img src="/images/wechat_code_hover.png"></div>
					</div>
					<a class="page-header-icon icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1"></a>
				</dir>
				<div class="page-header-right">
					<ul class="nav">
						<li><a id="js-quick-login" href="javascript:void(0)">快速登陆</a></li>
						<li><a id="js-quick-register" href="javascript:void(0)">快速注册</a></li>
						<li><a href="about/help.html">常见问题</a></li>
						<li><a href="about/index.html">关于优米</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-nav-wrap">
			<div class="page-contain">
				<div class="page-nav-logo"><a href="index.html"></a></div>
				<div class="page-nav-box">
					<ul class="page-nav-main">
						<li><a class="nav-active" href="index.html">首页</a></li>
						<li><a href="pe.html">阳光私募</a></li>
						<li><a href="simu.html">私募股权</a></li>
						<li><a href="enterprise.html">企业理财</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--面包屑导航-->
	<div class="page-breadcrumb-wrap">
		<p class="page-breadcrumb-main">
			<span>当前位置：</span>
			<a href="index.html">首页</a>
			<a href="simu.html">阳光私募</a>
			<a href="product/simu/list.html">阳光私募产品</a>
			<span>顺时国际-天利长盈FOF2期</span>
		</p>
	</div>
	<!--面包屑导航-->

	<div class="product-info-wrap">
		<div class="product-info-top">
			<h2 class="product-info-title">顺时国际-天利长盈FOF2期</h2>
			<div class="product-status-wrap">预约中</div>
			<div class="product-phone-wrap">
				<span>咨询电话：</span>
				<span class="info-color-orige">400-960-8108</span>
			</div>
		</div>
		<div class="product-info-box">
			<div class="product-info-box-left">
				<div class="product-info-main">
					<ul class="product-info-ul">
						<li class="product-info-block">
							<span>管理机构：</span>
							<span>赖忠梁/杨晓</span>
						</li>
						<li class="product-info-block">
							<span>基金类型：</span>
							<span>银河证券</span>
							<!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;/</span> -->
						</li>
						<li class="product-info-block">
							<span>资本类型：</span>
							<span class="info-empty">&nbsp;&nbsp;&nbsp;&nbsp;---</span>
						</li>
						<li class="product-info-block">
							<span>募集规模：</span>
							<span>顺时国际</span>
						</li>
						<li class="product-info-block">
							<span>预约截止：</span>
							<span>2016/7/13</span>
						</li>
						<li class="product-info-block">
							<span>组织形式：</span>
							<span>有限合伙</span>
						</li>
						<li class="product-info-block">
							<span>起投金额：</span>
							<span>100万元</span>
						</li>
						<li class="product-info-block"> 
							<span>存续时间：</span>
							<span>1000万元</span>
						</li>
						<li class="product-info-block"> 
							<span>投资方向：</span>
							<span>1000万元</span>
						</li>
					</ul>
					
					<button class="btn-wlty" onclick="moveTo()" style="display:none;">万里挑一</button>
				</div>
				<div class="product-info-desc">新三板行业龙头定增，未来战略扩张，价值成长空间大</div>
			</div>
			
			<div class="product-book-wrap">
				<div style="display:none;">
					<p class="book-input-wrap">
						<input class="book-input-text" type="text" name="" placeholder="姓名：请输入2-5字中文姓名">
					</p>
					<p><input class="book-input-text" type="text" name="" placeholder="手机：请输入11位手机号码"></p>
					<div class="book-btn-group-normal">
						<p class="book-checkbox-wrap">
							<label class="checkobx-group">
								<input class="book-input-checkbox" type="checkbox" name="" onchange="showText(this)">
								<span>同意参加万里挑一</span>
							</label>
						</p>
						<p class="book-btn-wrap"><button class="btn-book">预约咨询</button></p>
					</div>
				</div>
				<div class="logined-box" style="display:block;">
					<div class="book-btn-group-normal">
						<p class="book-btn-wrap"><button class="btn-book-disabled" disabled="">预约咨询</button></p>
						<p class="book-checkbox-wrap">
							<label class="checkobx-group">
								<input class="book-input-checkbox" type="checkbox" name="" onchange="showText(this)">
								<span>同意参加万里挑一</span>
							</label>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="product-present-wrap">
		<div class="product-present-top">
			<ul id="js-present-menu">
				<li class="active">基金经理</li>
				<li>母基金管理人</li>
				<li>投资理念</li>
			</ul>
		</div>
		<div class="page-highlight-main">
			<div class="highlight-tab-item active" id="highlight-tab-0">
				<p>管理人：顺时国际投资管理有限公司于2012年4月在北京成立，注册资本1000万元，团队成员来自国内证券、期货、保险领域，是首批获得中国证券投资基金业协会颁发私募投资基金牌照的公司。截止2016年6月公司现管理资金杠杆前约30个亿，杠杆后总的资产达到40多个亿。公司总裁韩广宇曾任中国国际期货北方区金融创新业务部总监；中国国际期货高级副总裁，负责金融渠道开发和产品设计，对量化对冲产品的策略管理有丰富经验。</p> <p>投资顾问：银河证券是中国证券行业领先的综合性金融服务提供商，提供经纪、销售和交易、投资银行等综合证券服务，曾先后获得“最具投资顾问实力券商”、“最具实力券商奖”和“优秀证券公司”等殊荣。银河证券对冲基金管理平台上运作超过200家对冲基金，拥有10种核心对冲基金策略，拥有庞大的私募实时交易数据，可以对私募机构进行客观真实分析。银河证券通过自主研发，建立了一套完善的私募评价体系，通过“定量+定性”手段对私募进行全方位评估，本FOF基金旗下的各子基金管理人均是由银河证券精选而得。</p>
			</div>
			<div class="highlight-tab-item" id="highlight-tab-1">
				<p>赖忠良：策略研发总监&amp;创始人，毕业于贵州大学，MBA学历。曾任大公国际资信评估有限公司债券部经理，对债券衍生品策略和国内资产证券化产品方面有着深入研究，并在此基础上自行开发了债券策略模型分析系统和多因子选债系统。现负责顺时国际债券策略交易与投资决策，持有基金从业资格，证券从业资格，期货从业资格，期货投资咨询资格。</p> <p>杨晓：期货CTA策略总监，毕业于山东大学，学士学位。曾任中国国际期货有限公司资产管理总部高级研究员。有五年以上期货CTA策略研究和评估管理等工作，对于期货CTA交易的策略研发、投资组合、风险控制和交易执行有着第一手研究，期间直接或间接管理的账户数量20个以上，资金规模2亿以上，近三年每年平均收益率保持在30%以上，并积累大量实战交易策略和丰富的投资经验。</p>
			</div>
			<div class="highlight-tab-item" id="highlight-tab-2">
				<p><span style="color:#F08422;font-size:18px">债券增强型策略：</span>通过量化模型、基本面研究，构建一篮子利率债和高等级信用债组合，结合市场情况动态调整利率债和信用债比例。同时依据久期中性原理利用国债期货规避价格波动风险，以锁定整个对冲组合的收益率。另外，动态监控现券和国债期货的联动性，捕捉期现套利和收益率曲线套利机会，获取增厚收益。</p> <p><span style="color:#F08422;font-size:18px">事件驱动策略：</span>提前挖掘和深入分析可能造成股价异常波动的事件，采取事件明朗化前逢低买入，事件明朗化后逢高卖出，充分把握交易时机获取超额投资回报的交易策略。</p> <p><span style="color:#F08422;font-size:18px">阿尔法策略：</span>基于多因子ALPHA模型及无风险套利定价理论建立，并经过中国市场历史数据回溯的各种多因素选股策略。可能用到的选股因子包括但不限于：价值、成长、动量、反转、规模、分析师预期及盈利能力等。</p> <p><span style="color:#F08422;font-size:18px">股指期货CTA策略：</span>投资收益主要来自对单一期货产品的价格走势进行判断，通过对不同时间段该产品的价格走势进行研究，预测未来的价格的涨跌，捕捉趋势或者寻找价格的反转信号，通过叠加产生正收益。</p> <p><span style="color:#F08422;font-size:18px">商品期货CTA策略：</span>以趋势追踪策略为主，辅以跨品种统计套利和反转策略。CTA策略中包含100多个信号，利用对价格、交易量等技术指标的分析对市场较活跃的30个商品期货品种进行交易。</p>
			</div>
		</div>
	</div>

	<div class="product-detail-wrap">
		<div class="product-detail-top">基金详情</div>
		<div class="product-detail-box">
			<ul class="product-detail-item">
				<li>基金全称：肿瘤诊疗领域龙头企业新三板定增</li>
				<li>管理人：蓝海资本</li>
				<li>基金规模：总规模1.6亿美元</li>
				<li>托管行：------</li>
				<li>基金期限：4+1+1年</li>
				<li>管理费：2%/年</li>
				<li>基金类型：结构化产品</li>
				<li>认购费：------</li>
				<li>投资范围：主要用于Company Cell 私有</li>
				<li>退出方式：上市后退出</li>
				<li>托管平台：银河证券</li>
				<li>管理人业绩报酬：20%（基金获得8%基金收益率以上净利润部分的20%）</li>
			</ul>
		</div>
	</div>

	<div class="page-highlight-wrap">
		<div class="page-highlight-top">管理机构</div>
		<div class="page-highlight-main">
			<p><span>组合投资分散风险：</span>FOF基金以基金为投资对象，通过研究团队全方位、多维度深入挖掘与分析，精中选精，构建多策略、低相关度投资组合，减少单一策略波动风险。</p>
			<p><span>精选投顾：</span>银河证券作为中国四大券商之一，担任本FOF基金投资顾问；其拥有完善的私募评价体系，数年积累海量对冲基金业绩表现，精选六只构建本FOF组合，
				并根据市场波动情况及时调整和优化基金组合，把握大类资产多元配置，分散风险同时力求达到更高收益。</p>
		</div>
	</div>

	<div class="product-wlty-wrap" style="display:none;">
		<p>《植物人视听唤醒项目》是医学、心理学和艺术的跨学科合作项目。通过临床观察、视听唤醒室脑电、血氧、心率检测和核磁共振检测作品的效果，根据个体病例的核心记
忆、情结和意象，创作个性化视听作品；也根据集体无意识和植物人的身心状态，创作共性化视听作品，以 此辅助医学进行植物人 唤醒。</p>
		<p>“万里挑一”由优米金融发起，支持赞助“植物人视听唤醒项目”。您若同意参与此项目，系统将会将您通过优米金融所获投资收益（不含本金）的万分之一捐赠给“植物
人视听唤醒项目”，同时，优米金融也将匹配等额资金，以双方的名义共同支持项目的推进与发展。帮助更多因事故失去意识的植物人重见光明。</p>
	</div>

	<!-- 预约条-->
	<div class="product-bottom-book">
		<div class="bottom-book-wrap">
			<div class="bottom-book-bg bottom-book-bg2"></div>
			<div class="btn-group-wlty">
				<label>
					<input type="checkbox" name="" id="bottom-book-chekbox">
					<span>同意参加万里挑一</span>
				</label>
				<button class="bottom-book-btn " >预约咨询</button>
			</div>
		</div>
	</div>
	<!-- 预约条-->

	<div class="page-footer-wrap" ng-controller="footerCtr">
		<div class="page-contain f-position-retv">
			<ul class="page-footer">
				<li class="">
					<p class="footer-row">
						<span>About us</span>
						<span>关于我们</span>
					</p>
					<p class="footer-row">
						<span>Service</span>
						<span>产品服务</span>
					</p>
					<p class="footer-row">
						<span>Follow us</span>
						<span>关注我们</span>
					</p>
					<p class="footer-row">
						<span>Cooperation</span>
						<span>合作机构</span>
					</p>
					<p class="footer-last-row">客服热线：<span>400-960-8108</span></p>
				</li>
				<li class="f-position-retv">
					<div><a href="javascript:void(0)">公司介绍</a></div>
					<div><a href="javascript:void(0)">常见问题</a></div>
					<div class="footer-icon-weixin" id="js-show-code" ng-click="toggleCode()">微信</div>
					<div class="wechat-code-click-wrap" id="js-wechat-click-wrap" ng-show="isShow">
						<img src="/images/wechat_code_click.png">
						<span class="btn-wechat-close" id="js-wechat-close" ng-click="closeCode()"></span>
					</div>
					<div><a href="javascript:void(0)">蓝海资本</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">团队介绍</a></div>
					<div><a href="javascript:void(0)">安全保障</a></div>
					<div><a class="footer-icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1">新浪微博</a></div>
					<div><a href="">杨锋艺术与基金</a></div>
					<div><a href="">加入我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">发展历程</a></div>
					<div><a href="javascript:void(0)">免责声明</a></div>
					<div><p class="contact-time">周一至周五9:30--18:30</p></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">媒体报道</a></div>
				</li>
			</ul>
			<div class="wechat-code-wrap f-position-abs">
				<img class="img-code wechat-code-1" src="/images/wechat_code_1.png">
				<img class="img-code wechat-code-2" src="/images/wechat_code_2.png">
			</div>
			<p class="page-copyright">Copyright&copy;2015&nbsp;&nbsp;2016&nbsp;&nbsp;深圳市前海优米互联网金融服务有限公司 粤ICP备15078185号-3</p>
		</div>
	</div>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript">
		/*复选框勾选并且定位到万里挑一介绍*/
		function showText(obj){
			var isSelected = $(".book-input-checkbox:checked").val(),
				top = $(".product-wlty-wrap").offset().top ;
			if(isSelected){
				$("html,body").animate({scrollTop:top},666);
				$("#bottom-book-chekbox").prop("checked", true);
			}else{
				$("#bottom-book-chekbox").prop("checked", false);
			}
		}

		$("#bottom-book-chekbox").on("change", function(){
			var isSelected = $("#bottom-book-chekbox:checked").val();
			if(isSelected){
				$(".book-input-checkbox").prop("checked", true);
			}else{
				$(".book-input-checkbox").prop("checked", false);
			}
		});

		/*移动到万里挑一介绍*/
		function moveTo(){
			var top = $(".product-wlty-wrap").offset().top;
			$("html,body").animate({scrollTop:top},666);
		}

		/*预约条*/
		$(window).on("scroll", function(){
			var h1 =$(".product-info-wrap").outerHeight(),
				h2 = $("#header").outerHeight(),
				h3 = $(".page-breadcrumb-wrap").outerHeight(),
				h4 = $(document).height(),
				h5 = $(window).height(),
				h6 = $(".bottom-book-wrap").outerHeight(),
				h7 = $(".page-footer-wrap").outerHeight(),
				scrollTop = $(this).scrollTop();
			if(scrollTop < (h1 + h2 + h3) || scrollTop >= (h4 - h5 - h7)){
				$(".bottom-book-wrap").find(".bottom-book-bg").removeClass("bottom-book-bg2");
				$(".bottom-book-wrap").css({"position": "relative"});
			}else{
				$(".bottom-book-wrap").find(".bottom-book-bg").addClass("bottom-book-bg2");
				$(".bottom-book-wrap").css({"position": "fixed"});
			}
		});

		/*切换基金经理*/
		$("#js-present-menu li").on("click", function(){
			var index = $(this).index();
			$(this).addClass("active").siblings().removeClass("active");
			$("#highlight-tab-"+index).addClass("active").siblings().removeClass("active");
		});
	</script>
</body>
</html>