<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="Keywords" content="阳光私募,阳光私募基金,阳光私募投资,私募超市">
	<meta name="Description" content="私募股权频道帮助您选择最优秀的股权投资基金,并提供全方位的股权投资理财服务">
	<title>公司介绍</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../css/team_introduce.min.css">
</head>
<body>
	<div id="js-page-header">
		<div class="page-header-wrap">
			<div class="page-header page-contain">
				<dir class="page-header-left">
					<span class="page-header-icon icon-phone"></span>
					<span class="page-header-text">联系方式：400-960-8108</span>
					<div class="header-weixin-wrap">
						<span class="page-header-icon icon-weixin"></span>
						<div class="wechat-code-hover-wrap"><img src="/images/wechat_code_hover.png"></div>
					</div>
					<a class="page-header-icon icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1"></a>
				</dir>
				<div class="page-header-right">
					<ul class="nav">
						<li><a id="js-quick-login" href="javascript:void(0)">快速登陆</a></li>
						<li><a id="js-quick-register" href="javascript:void(0)">快速注册</a></li>
						<li><a href="about/help.html">常见问题</a></li>
						<li><a href="about/index.html">关于优米</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-nav-wrap">
			<div class="page-contain">
				<div class="page-nav-logo"><a href="index.html"></a></div>
				<div class="page-nav-box">
					<ul class="page-nav-main">
						<li><a class="nav-active" href="index.html">首页</a></li>
						<li><a href="pe.html">阳光私募</a></li>
						<li><a href="simu.html">私募股权</a></li>
						<li><a href="enterprise.html">企业理财</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="page-about-nav-wrap">
		<ul class="page-about-nav">
			<li>
				<a href="">
					<span class="nav-text-chinese">公司简介</span>
					<span class="nav-text-english">Company Introduction</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">团队介绍</span>
					<span class="nav-text-english">Our Team</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">发展历程</span>
					<span class="nav-text-english">development</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">联系我们</span>
					<span class="nav-text-english">contact us</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">安全保障</span>
					<span class="nav-text-english">Security</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">免责声明</span>
					<span class="nav-text-english">Disclaimer</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="nav-text-chinese">常见问题</span>
					<span class="nav-text-english">FAQ</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="page-about-box">
		<div class="page-about-box-item">
			<h2 class="team-name">F R A N K<br>Y A N G</h2>
			<div class="team-img"></div>
			<div class="team-desc-key">杨锋 创始合伙人&CEO</div>
			<div class="team-desc-value">
				杨锋先生有超过15年的风险投资、私募股权投资和国内A股、香港和美国多个资本市场经验；在医药医疗、文
				化、媒体和科技领域（TMT)有丰富投资经验和超过百亿元人民币的成功投资纪录。
				在创立优米金融之前，杨先生此前在建银国际担任董事总经理和其医疗基金的高级管理成员，领导美元和人民币双币种的医药领域投资以及TMT领域投资。2008至2010年，杨先生担任欧洲领先的金融机构PPF金融集团董事总经理，主管集团在中国区的战略投资业务，并参与创建了中国领先的消费金融公司捷信金融。在此前，杨先
				生于2007年在私人股权投资基金德州太平洋集团(TPG)旗下的增长基金实习工作。2001-2006年，杨先生在湘财证券从事风险投资，担任副总裁和投资决策委员，作为创始成员于2001年募集
				2亿元人民币成立了国内最早之一的人民币风险投资基金，并帮助基金实现了超过6倍回报。 杨锋先生拥有香港科技大学工商管理硕士学位（MBA)，并先后到美国哥伦比亚大学和德国莱比锡商学院交换学习；杨锋先生还拥有中南财经政法大学经济学学士和上海财经大学金融学硕士学位， 担任香港科技大学商学院的顾问委员会成员。
			</div>
		</div>
	</div>



	<div class="page-footer-wrap" ng-controller="footerCtr">
		<div class="page-contain f-position-retv">
			<ul class="page-footer">
				<li class="">
					<p class="footer-row">
						<span>About us</span>
						<span>关于我们</span>
					</p>
					<p class="footer-row">
						<span>Service</span>
						<span>产品服务</span>
					</p>
					<p class="footer-row">
						<span>Follow us</span>
						<span>关注我们</span>
					</p>
					<p class="footer-row">
						<span>Cooperation</span>
						<span>合作机构</span>
					</p>
					<p class="footer-last-row">客服热线：<span>400-960-8108</span></p>
				</li>
				<li class="f-position-retv">
					<div><a href="javascript:void(0)">公司介绍</a></div>
					<div><a href="javascript:void(0)">常见问题</a></div>
					<div class="footer-icon-weixin" id="js-show-code" ng-click="toggleCode()">微信</div>
					<div class="wechat-code-click-wrap" id="js-wechat-click-wrap" ng-show="isShow">
						<img src="/images/wechat_code_click.png">
						<span class="btn-wechat-close" id="js-wechat-close" ng-click="closeCode()"></span>
					</div>
					<div><a href="javascript:void(0)">蓝海资本</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">团队介绍</a></div>
					<div><a href="javascript:void(0)">安全保障</a></div>
					<div><a class="footer-icon-sina" href="http://weibo.com/u/5669852857?refer_flag=1001030102_&is_hot=1">新浪微博</a></div>
					<div><a href="">杨锋艺术与基金</a></div>
					<div><a href="">加入我们</a></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">发展历程</a></div>
					<div><a href="javascript:void(0)">免责声明</a></div>
					<div><p class="contact-time">周一至周五9:30--18:30</p></div>
				</li>
				<li>
					<div><a href="javascript:void(0)">媒体报道</a></div>
				</li>
			</ul>
			<div class="wechat-code-wrap f-position-abs">
				<img class="img-code wechat-code-1" src="/images/wechat_code_1.png">
				<img class="img-code wechat-code-2" src="/images/wechat_code_2.png">
			</div>
			<p class="page-copyright">Copyright&copy;2015&nbsp;&nbsp;2016&nbsp;&nbsp;深圳市前海优米互联网金融服务有限公司 粤ICP备15078185号-3</p>
		</div>
	</div>
</body>
</html>