.main-box{
	width:100%;
	display: table;

}

.editor-toobar{
	margin-bottom:10px;
}

.editor-wrapper{
	border:1px solid #e7e7eb;
	padding:0;
	float:inherit;
}

.editor-aside{
	border:1px solid #e7e7eb;
	border-left:none;
	float: inherit;
	display: table-cell;
	background-color: #f8f8f8;
	vertical-align:top;
}

.editor-title-wrap{
	border-bottom:1px solid #e7e7eb;
	position: relative;
}

.message-tip{
	position: absolute;
    right: 5px;
    z-index: 1;
    top: 5px;
    display: none;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    background: #ccc;
}

.editor-title {
	padding:0 20px;
	font-size:22px;
	height:46px;
	line-height:46px;
	width:100%;
	outline:none;
	border:none;
}

.editor-main{
	min-height: 400px;
}

.editor-bottom{
	border-top:1px solid #e7e7eb;
	padding:0 20px 20px 20px;
}

.form-lable{
	margin:5px 0 10px 0;
}

.form-lable:after{
	display: table;
	content:"";
	clear: both;
}

.form-lable .title{
	font-size:14px;
	float: left;
	font-weight: 400;
	font-style: normal;
}

.form-lable .tip{
	float: left;
	margin-left:10px;
	color:#8d8d8d;
}

.form-textarea{
	width:100%;
	height:100px;
	border:1px solid #e7e7eb;
	padding:4px 0 4px 10px;
}

.form-textarea textarea{
	width:100%;
	height:100%;
	resize:none;
	outline: none;
	border:none;
}

.article-image-wrap{
	width:100%;
}

.image-thumb-wrap{
	padding:10px;
	box-sizing: border-box;
	border:1px solid #F39800;
	border-bottom:none;
	background-color: #fff;
	position: relative;
}

.image-thumb{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
	text-align: center;
	background-color: #ececec;
}

.icon-image-thumb{
	width: 44px;
    height: 34px;
    display: inline-block;
    overflow: hidden;
    background:url("../../images/media.png") 0 -100px no-repeat;
}

.imagepick-wrap{
	height:35px;
}

.btn-imagepick{
	display: block;
	width:100%;
	height:100%;
	color:#fff;
	font-size:16px;
	cursor: pointer;
	text-align:center;
	background:#F39800;
	line-height:35px;
}

.webuploader-pick{
	background: none;
    display: inherit;
    padding: 0;
}

.progress{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	margin:auto;
	height:10px;
	opacity: 0.78;
	border-radius: 0px;
}

.article-image-cover{
	height:180px;
}

.article-image-cover .image-thumb-wrap{
	height:145px;
}

.article-image-logo{
	height:160px;
}

.article-image-logo .image-thumb-wrap{
	height:120px;
}

.form-input-short input{
	width:100%;
	height:35px;
	border:1px solid #e7e7eb;
	outline: none;
}

textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
    color: #a3a3a3;
}