@import	 "variable.less";
.navbar-admin>li>a:hover{
	background:rgba(0,0,0,.3);
}

.navbar-admin>li>a:focus{
	background:transparent;
}

.navbar-admin .open>a, .navbar-admin .open>a:hover, .navbar-admin .open>a:focus{
	background-color: rgba(0,0,0,.3);
}

.navbar-admin .dropdown-menu{
	background-color:@navbar-bg;
}

.navbar-admin .dropdown-menu>li>a:hover, .navbar-admin .dropdown-menu>li>a:focus{
	background-color: rgba(0,0,0,.3);
	color:#fff;
}

.navbar-admin .dropdown-menu>li>a{
	color:#F39800;
}

// .nav-tabs>li>a:hover{
// 	background-color: transparent;
// }