.bootstrap-select .selected{
	background: #5897fb;
}

.bootstrap-select .selected a{
	color:#fff;
}

.bootstrap-select .dropdown-menu>li>a:hover, .bootstrap-select .dropdown-menu>li>a:focus{
	background:#5897fb;
	color: #fff;
	outline: none;
}

.input-move{
	cursor: move;
}

.ghost{
	opacity: 1;
  	background: #F39800;
}

.chosen {
  color: #fff;
  background-color: #F39800;
}

.list-group-no-data{
	text-align: center;
    list-style: none;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
}

.form-control-1{
	border:none;
	-webkit-box-shadow:none;
}

.form-control-1:focus{
	border:none;
	box-shadow: none;
}

.padding-none{
	padding:0;
}

.input-group-addon2{
	background-color: inherit;
	border: none;
}

