/*bootstrap table*/

/*操作状态颜色*/
.data-status-on{
	color:#a94442;
	text-decoration: none;
}

.data-status-on:hover, .data-status-on:focus{
	color:#a94442;
	text-decoration: none;
}

.data-status-off{
	color:#3c763d;
	text-decoration: none;
}

.data-status-off:hover, .data-status-off:focus{
	color:#3c763d;
	text-decoration: none;
}

.fixed-table-toolbar:after{
	display: table;
	content: "";
	clear: both;
}

.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search{
	margin-top:0;
}

.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search{
	line-height:inherit;
}

.fixed-table-toolbar .bs-bars{
	margin-right:10px;
}

 .fixed-table-toolbar .search{
 	width:60%;
 }