.page-breadcrumb-wrap{
	margin-bottom:38px;
	border-top:1px solid #DCDDDD;
	background:#fff;
}

.page-breadcrumb-main{
	width:1200px;
	margin:0 auto;
	font-size:14px;
	padding: 25px 0 14px 0;
}

.page-breadcrumb-main a{
	text-decoration: none;
	color:#3E3A39;
	font-size:14px;
	padding-right:25px;
	margin-right:16px;
	display:inline-block;
	background:url("/images/icon_gt.png") no-repeat right center;
}