.page-login-wrap{
	width:920px;
	height:584px;
	background:#fff;
	position: absolute;
	left:0;
	top:177px;
	right:0;
	margin:auto;
	border-top:1px solid #ccc;
	z-index: 1000;
}

.page-login-top{
	position: relative;
	height:44px;
}

.login-btn-close{
	position: absolute;
	display: block;
	width:44px;
	height:44px;
	background:url("/images/icon_login_close.png") no-repeat center;
	left:876px;
	cursor: pointer;
}

.login-box-left{
	width:541px;
	box-sizing: border-box;
}

.login-box-top{
	font-size:18px;
	line-height:20px;
	text-align: center;
}

.login-box-left .active{
	display: block;
}

.login-box-item{
	display: none;
}

.login-form-box{
	position: relative;
	margin-top:40px;
}

.login-form-box:after{
	display: block;
	content:"";
	position: absolute;
	height:381px;
	border-right:1px solid #9A9B9B;
	top:-15px;
	right:0;
}

.login-form-item, .login-input-wrap{
	width:428px;
	margin: 0 auto 23px auto;
}

.login-form-item:after, .img-code-wrap:after, .page-login-main:after, .page-login-bottom:after{
	display:table;
	content:"";
	height:0;
	clear:both;
}

.login-input-wrap input, .form-item-btn, .login-input-wrap{
	height:58px;
	border:1px solid #E9E9E9;
	background:#FCFCFC;
	box-sizing: border-box;
}

.login-input-wrap{
	position: relative;
}

.input-wrap-short{
	margin-bottom:0;
	width:189px;
}

.input-before, .input-after{
	display: block;
	z-index: 1;
	position: absolute;
	color:#B7B7B6;
	left:31px;
}

.input-before{
	top:12px;
	content: "手机号码";
	font-size:13px;
}

.input-after{
	top:34px;
	content: "cell phone number";
	font-size:12px;
}


.login-input-wrap input{
	position: absolute;
	top:0;
	left:0;
	z-index: 12;
	width:100%;
	height:58px;
	border:none;
	font-size:13px;
	color:#B7B7B6;
	outline: none;
	padding-left:31px;
	box-sizing: border-box;
	background:transparent;
}

.form-desc a{
	display: inline-block;
	text-decoration: none;
	font-size:12px;
	color:#231815;
	margin:30px 0 0 86px;
}

.form-desc a span{
	display: block;
}

.verifycode-img, .form-item-btn{
	width:100px;
}

.verifycode-img{
	height:35px;
	margin:22px 0 0 23px;
}

.img-code-text{
	margin: 29px 0 0 32px;
	font-size:12px;
	color:#B7B7B6;
}

.img-code-text a{
	color:#036EB8;
	text-decoration:none;
}

.form-item-btn{
	height:58px;
	text-align:center;
	line-height:58px;
	font-size:13px;
	color:#231815;
	outline:none;
	margin-left:23px;
	cursor:pointer;
	border-color:#9B9A9B;
	-webkit-appearance: none;
}


.login-box-right{
	width:379px;
	text-align: center;
	font-size:12px;
	color:#898989;
}

.login-icon-wechat{
	margin-top:80px
}

.login-box-right p:nth-of-type(1){
	margin-top:37px;
}

.login-box-right p:nth-of-type(2){
	margin-top:69px;
}

.page-login-bottom{
	margin-top:73px;
}

.login-btn-submit, .login-box-right-btn{
	display:block;
	height:73px;
	outline:none;
	cursor:pointer;
	text-align:center;
	background:#FCFCFC;
	box-sizing: border-box;
	text-decoration: none;
	border:1px solid #727171;
	-webkit-appearance: none;
}

.btn-submit-w160{
	width:160px;
}

.login-btn-submit span, .login-box-right-btn span{
	display:block;
	font-size:13px;
	color:#727171;
}

.login-btn-submit span:first-child, .login-box-right-btn span:first-child{
	line-height:20px;
}

.login-btn-submit:hover, .login-box-right-btn:hover{
	border-color:#F08522;
}

.login-btn-submit:hover span, .login-box-right-btn:hover span{
	color:#F08522;
}

.btn-submit-position{
	position: absolute;
	left:188px;
	bottom:35px;
}

.login-box-right-btn{
	margin:24px 0 0 112px;
}
